<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}Tales of galaxy</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('main.css') }}">
        {% endblock %}
          
        {% block javascripts %}
            <script src="{{ asset('main.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>

        <div id="appEntry"></div>

    </body>
</html>
