{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
var get_rp_infos_by_ajax_path = "{{ path('get_rp_infos_by_ajax') }}"
</script>
<script type="text/javascript" src="{{ asset('modules/character_creation/main.js') }}"></script>
{% endblock %}

{% block body %}
<main>
    <div class="container">

        <div class="row">
            <header>
                <h2>{{ pageTitle }}</h2>
            </header>
        </div><!-- /.div row -->

        <div class="row">
           <div id="createCharacterApp"></div>
        </div><!-- /.div row -->

    </div><!-- /.div container -->
</main>
{% endblock %}
