{% extends 'base.html.twig' %}

{% block body %}
<main id="page-admin">

    <div class="container">

        <div class="row">

            <ul>
                <li><a href="#">Configuration du forum</a></li>
                <li><a href="{{ path('forums_list') }}">Gérer les forums</a></li>
                <li><a href="#">Gérer les utilisateurs</a></li>
                <li><a href="#">Gérer les groupes</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="#">Gérer les rangs</a></li>
            </ul>

        </div><!-- /.div row -->

    </div><!-- /.div container -->

</main>
{% endblock %}
